{% render 'partials/head.liquid', title: 'Dashboard' %}


  {% comment %} header {% endcomment %}
  <header class="upperheader">
    <picture>
      <source srcset="/assets/logo-white.avif" type="image/avif">
      <img
        class="logo"
        src="/assets/logo-white.png"
        width="{{ 190 }}"
        height="{{ 50 }}"
        alt=" Tweakers"
        fetchpriority="high"
      >
    </picture>

    <nav class="desktop-nav">
      <ol>
        <li><a href="#" class="active">Overzicht</a></li>
        <li><a href="#">Topics</a></li>
        <li><a href="#">Gebruikers</a></li>
        <li><a href="#">Meldingen</a></li>
      </ol>
    </nav>

    <p class="live-section">
      <span class="live-dot"></span>
      live · /rss feed
    </p>

    <button class="hamburger" popovertarget="hamburger">
      <img src="/assets/burger-menu.svg" width="50" height="40" alt="menu">
    </button>
    <nav id="hamburger" popover>
      <button type="button" popovertarget="hamburger">✕</button>
      <ol>
        <li><a href="#">Overzicht</a></li>
        <li><a href="#">Topics</a></li>
        <li><a href="#">Gebruikers</a></li>
        <li><a href="#">Meldingen</a></li>
      </ol>
    </nav>
  </header>

  {% comment %} einde header {% endcomment %}
  <main>
    <h1>Welkom {{ name }}</h1>
    <div class="maincontainer">
      <section class="active-topics card">
        <h2>Meest actieve topics</h2>
        <table>
          {% for item in items %}
            <tr>
              <td>{{ forloop.index }}</td>
              <td>
                <a href="{{ item.link }}">{{ item.title }}</a>
              </td>
              <td class="number">{{ item.replies }}</td>
            </tr>
          {% endfor %}
        </table>
      </section>
      <section class="top-users card">
        <span>
          <h2>Top gebruikers</h2>
        </span>
        {% for user in users %}
          <table>
            <tr>
              <td>
                <img
                  src="https://tweakers.net/identicon/{{ user.forum_id }}"
                  width="            16"
                  height="16"
                >
              </td>
              <td>{{ user.username }}</td>
              <td class="number">{{ user.number_of_posts }}</td>
            </tr>
          </table>
        {% endfor %}
      </section>
      <section class="new-posts card">
        <h2>Nieuwe posts vandaag</h2>
        <p>1284</p>
      </section>

      <section class="active-cats card">
        <h2>Most actieve categorieën</h2>
        <table>
          {% for categorie in categorieen %}
            <tr>
              <td>{{ forloop.index }}</td>
              <td>
                <a href="{{ categorie.link }}">{{ categorie.naam }} </a>
              </td>
              <td class="number">{{ categorie.totaalReacties }}</td>
            </tr>
          {% endfor %}
        </table>
      </section>

      <section class="activity card">
        <h2>Activiteit</h2>
        <p>Posts * 7dagen</p>
      </section>
      <section class="messages card-small">
        <h2>Meldingen open</h2>
        <p>47</p>
      </section>
      <section class="new-users card-small">
        <h2>Nieuwe leden(24u)</h2>
        <p>63</p>
      </section>
    </div>
  </main>
</body>
